// Arrow Tests
// ===========

@import "true";

// Test Module
// -----------

@include test-module('Strings') {

  // str-replace
  @include test('str-replace') {
    $test: str-replace('hello terrible world!', 'terrible', 'beautiful');
    $expect: 'hello beautiful world!';
    @include assert-equal($test, $expect,
      'Substring should be replaced within larger string');

    $test: str-replace('hello', 'hello', 'world');
    $expect: 'world';
    @include assert-equal($test, $expect,
      'Full string should be replaced');

    $test: str-replace('hello world', 'hello ', false);
    $expect: 'world';
    @include assert-equal($test, $expect,
      'Replacing a string with null or false should remove it entirely');
  }

  // interpolate
  @include test('interpolate') {
    $test: interpolate('hello %s%s', 'world', '!');
    $expect: 'hello world!';
    @include assert-equal($test, $expect,
      'All format strings should be replaced by interpolation values.');
  }
}

  // get fluid media
  // ---------------
  @include test(_get-fluid-media) {
    $test: _get-fluid-media();
    $expect: (
      height: 0,
      padding-top: (1 / (16/9))*100%,
      position: relative,
      width: 100%,
      '> *': (
        display: block,
        position: absolute,
        height: 100%,
        width: 100%,
        top: 0,
        right: 0,
        bottom: 0,
        left: 0,
      )
    );
    @include assert-equal($test, $expect,
      'Returns an output map based on input settings');
  }
}

// Report
// ------

@include report;

